
.work-sans-font {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  /* font-weight: 800; */
  font-style: normal;
}
/* shared style */
.textcolor{
    color: #FD6E0A;
}
.dark-2{
    color: #474747;
}
.dark-3{
    color: #757575;
}
.section-title{
    font-size: 28px;
    font-weight: bold;
    color: #181818;
}
.section-description{
    font-size: 14px;
    color: #757575;
}
.sec-bg{
    background-color: #fce8db;
}
/* header */
.header{
    background-image: url(../images/developer.png),url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left ,bottom right;
    background-size: 100px 450px , 600px 300px ;
    margin-bottom: 100px;
}
/* Nav style */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 100px;
}
.nav-title{
    font-weight: bolder;
    font-size: 38px;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    font-size: 20px;
}
nav ul {
    display: flex;
    align-items: center;
}
nav ul li{
    margin-right: 30px;
}
.btn{
    background-color: #FD6E0A;
    color: white;
    font-weight: bold;
    font-size: 18px;
    padding: 14px 24px;
    border: none;
    border-radius: 8px;
}
.contact-btn{
    border: 2px solid #FD6E0A;
    color: #FD6E0A;
    background-color: white;
}
/* banner styles */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 25px 0 100px;
}
.banner-hi{
    font-size: 35px;
    font-weight: 600;
}
.banner-content{
    max-width: 450px;
}
.banner-title{
    font-weight: bold;
    font-size: 45px;
}
.banner-profile-pic{
    width: 300px;
}
.banner-para{
    font-size: 14px;
    line-height: 25px;
}
/* main style */
main{
    max-width: 1140px;
    margin: 0 auto;
}
/* about */
.about{
    padding: 230px 250px;
    text-align: center;
    border: 2px solid #757575;
    /* margin-top: 130px; */
}
.section-title{
    margin-bottom: 25px;
}
.about-items{
    display: flex;
    justify-content: space-between;
}
.item-title{
    font-weight: 600;
}
.items a{
    text-decoration: none;
}