
.work-sans-font {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  /* font-weight: 800; */
  font-style: normal;
}
/* shared style */
.textcolor{
    color: #FD6E0A;
}

/* Nav style */
nav{
    display: flex;
}
.nav-title{
    font-weight: bolder;
    font-size: 38px;
}